{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<div class="form-container">
    <h2 class="form-title">註冊新帳號</h2>
    <form method="post" class="auth-form">
        <label for="username">帳號</label>
        <input type="text" id="username" name="username" required>

        <label for="fullname">政黨/利團名稱</label>
        <input type="text" id="fullname" name="fullname" required>

        <label for="password">密碼</label>
        <input type="password" id="password" name="password" required>

        <label for="role">身分</label>
        <select id="role" name="role" required>
            <option value="" disabled selected>請選擇身份</option>
            <option value="party">政黨</option>
            <option value="group">利益團體</option>
        </select>

        <button type="submit" class="submit-btn">註冊</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/regisgter.js') }}"></script>
{% endblock %}
