.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.map-image {
  width: 100%;
  display: block;
}


.region {
  position: absolute;
  background: rgba(255, 255, 255, 0.01); /* invisible but catch hover */
  cursor: pointer;
}

/* popup */
#map-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 400px;
  max-width: 80%;
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 12px 32px rgba(0,0,0,0.2);
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
}

#map-popup.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-content {
  position: relative;
}

.popup-close {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #888;
}

area{cursor:pointer;}
area:hover{outline:2px solid red;}